:root {
    --orange: orangered;
    --black: black;
    --darkgrey: rgb(59, 57, 57);
  }


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.full-width-box{
    width: 100%;
    height: 30px;
    border: 2px solid;
    

}

.container-fluid{
    background-color: var(--orange);
}

.container{
    background-color: var(--black);
}

.carousel-container{
    width: 100%;
    height: 600px; 
    background-color: var(--darkgrey);
}

.carousel-heading {
    color: var(--orange);
}


.carousel-item{
    width: 100%;
    height: 300px;
}


