<div class="template">
    <H1>Liste over medarbejdere:</H1>
    <a href="createEmployee.html"> Opret ny medarbejder</a>

    <br><br>

    <table class= "table" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Navn</th>
                <th>Stilling</th>
                <th>Email</th>
                <th>Telefonnummer</th>
                <th>Brugernavn</th>
                <th>Ændre</th>
                <th>Slet</th>
            </tr>
        </thead>
        <tbody id="table-body">
        </tbody>

    </table>

  </div>