<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/css/standard.css">
  <title>Title</title>

</head>

<body>
  <div class="container mt-3">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-4 pt-5" >
        <div class="card " style="width:18rem;">
          <img class="card-img-top"
            src="https://cdn.shopify.com/s/files/1/0057/3728/3618/products/interstellar2_480x.progressive.jpg?v=1585846823"
            alt="Interstellar">
          <div class="card-body">
            <h4 class="card-title"><span id="name1"></span></h4>

            <div class="container.fluid">
              <div class="row pl-3">
                <div><span id="genre"></span>
                  <p><span id="length"></span></p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-lg-6" style="color: orange;">

        <h1><span id="name"></span></h1>
        <p><span id="description"></span></p>
        <p><span id="actors"></span></p>
        <p><span id="directors"></span></p>
        <p><span id="ageLimit"></span></p>

      </div>

    </div>
  </div>


  <div class="container mt-3" style="color: orange">
    <h2>Vælg biograf og tidspunkt</h2>

    <table class="table table-bordered" style="color: orange">
      <thead>
        <tr>
          <th>Biograf</th>
          <th>Dato</th>
        </tr>
      </thead>
      <tbody id="table-body"></tbody>
    </table>
  </div>






  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
  <script src="/pages/movieInfo/view/viewMovieInfo.js"></script>
</body>

</html>